.navbar {
  height: 50px;
  background-color: #6e6e6e;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-options li{
    float: left;
    list-style-type: none;
}

.nav-options li a{
    height:50px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-options li a:hover{
  background-color:#3d3d3d;
}

